---


---

<div class="py-9 lg:py-20" id="sobre-mi">
    <section class="relative">
        <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-y-4 lg:items-center lg:grid-cols-2 xl:grid-cols-2">

                <div class="xl:col-span-1 hidden lg:block relative">
                        <img loading="lazy" width="600"
  height="550" class="hover:shadow-lg dark:hover:shadow-white/30 transition duration-300 ease-in-out hover:scale-110 h-[300px] sm:h-[500px] lg:h-[550px] w-full object-cover object-center rounded-[35px]" src="https://res.cloudinary.com/djvitvb1v/image/upload/v1706656820/iuaggwukworg5elkmi50.webp" alt="me">
                       
                </div>

                <div class="text-center xl:col-span-1 lg:text-left md:px-16 lg:px-0  lg:pl-20">
                    <h2 class="text-4xl font-bold leading-tight text-white  sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
                        Sobre mí
                
                    </h2>
                    <p class="mt-2 text-lg text-slate-300 sm:mt-6 text-pretty">
                        Soy un desarrollador web, con mas de 3 años de experiencia; altamente motivado y con la
                        capacidad de crear aplicaciones web de alto rendimiento y sitios web atractivos.
                        Apasionado por la programación y la resolución de problemas. Busco una oportunidad para
                        aplicar mis habilidades técnicas y creativas en un entorno dinámico.
                        
                    </p>
                </div>



            </div>
        </div>
    </section>
</div>

<style>
     .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    
  }
</style>