---
import brayan from '../assets/brayan-complete.webp'

---

<div class="" id="sobre-mi">
    <section class="relative py-12 sm:py-16 lg:pb-40">
        <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-y-4 lg:items-center lg:grid-cols-2 xl:grid-cols-2">
                <div class="text-center xl:col-span-1 lg:text-left md:px-16 lg:px-0 xl:pr-20">
                    <h2 class="text-4xl font-bold leading-tight text-black dark:text-white/80 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
                        Sobre mí
                </span>
                    </h2>
                    <p class="mt-2 text-lg  dark:text-white sm:mt-6 text-pretty">I am a web developer, with more than 2 years of experience; highly motivated and with the ability to create high-performing web applications and attractive websites. Passionate about programming and problem solving. I am looking for an opportunity to apply my technical and creative skills in a dynamic environment.
                    </p>
                </div>

                <div class="xl:col-span-1 hidden lg:block">
                        <img loading="lazy" class="h-[300px] sm:h-[500px] lg:h-[550px] w-full object-cover object-center" src={brayan.src} alt="me">
                </div>
            </div>
        </div>
    </section>
</div>