---
const date = new Date();
const fullYear = date.getFullYear();
const brand = '<B/>'

---

<section class="py-12 bg-gradient-to-r from-red-600 to-blue-600 mt-20" id="contact">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="text-center xl:flex xl:items-center xl:justify-between xl:text-left">
            <div class="xl:flex xl:items-center xl:justify-start">
                <span class="text-white font-bold text-2xl">{brand}</span>

                <p class="mt-5 text-sm text-white xl:ml-6 xl:mt-0">© Copyright {fullYear} Brayan </p>
            </div>

            <div class="items-center mt-8 xl:mt-0 xl:flex xl:justify-end xl:space-x-8">
                <ul class="flex flex-wrap items-center justify-center gap-x-8 gap-y-3 xl:justify-end">
                   

                

                   
                </ul>

                <div class="w-full h-px mt-8 mb-5 xl:w-px xl:m-0 xl:h-6 bg-gray-50/20"></div>

                <ul class="flex items-center justify-center space-x-8 xl:justify-end">
                    <li>
                        <a aria-label="gmail link" href="mailto:brayanesquivel777@gmail.com" title="" class="block text-white transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-gmail w-9 h-9" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
                                <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
                                <path d="M16 4l-4 4l-4 -4" />
                                <path d="M4 6.5l8 7.5l8 -7.5" />
                              </svg>
                        </a>
                    </li>

                    <li>
                        <a aria-label="github link" href="https://github.com/brayan-web" target="_blank" title="" class="block text-white transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github h-9 w-9" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                              </svg>
                        </a>
                    </li>

                    <li>
                        <a aria-label="linkedin link" href="https://www.linkedin.com/in/brayan-sandoval-esquivel/" target="_blank" title="" class="block text-white transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin w-9 h-9"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M8 11l0 5" />
                                <path d="M8 8l0 .01" />
                                <path d="M12 16l0 -5" />
                                <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                              </svg>
                        </a>
                    </li>
                    <li>
                        <a aria-label="whatsapp link" href="https://api.whatsapp.com/send?phone=+547861345980&text=hola+soy+brayan%2C+en+que+puedo+ayudarte" target="_blank" title="" class="block text-white transition-all duration-200 hover:text-opacity-80 hover:scale-1 focus:text-opacity-80">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp w-9 h-9" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                                <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                              </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
