---
const brand = '<B/>'
---

    <header class="py-10 bg-transparent fixed w-full flex px-20 justify-between text-white items-center">
        <h2 class="font-extrabold text-[#42D684]">{brand}</h2>
        <nav>
            <ul class="flex">
                <li>
                    <a class="ml-20" href="#">About me</a>
                </li>
                <li>
                    <a class="ml-20" href="#">About me</a>
                </li>
                <li>
                    <a class="ml-20" href="#">About me</a>
                </li>
                <li>
                    <a class="ml-20" href="#">About me</a>
                </li>
            </ul>
        </nav>
    </header>

<style>
    a{
        transition: all .2s;
    }
    a:hover{
        color: #42D684;
    }
</style>
