---
const brand = '<B/>'
---

<header class="py-10">
    <div class="logo text-indigo-500 font-extrabold px-10 text-4xl">{brand}</div>
    <nav>
        <ul class="nav-list">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>

<style>
   header {
    background-color: #000000;
    color: #fff;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.logo {
  
    font-weight: bold;
    transform: translate(-50%, -50%);
    left: 100px;
    top: 50%;
    position: absolute;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: left;
    }

    .nav-list {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
</style>
