---
import brayan from "../assets/brayan-emerald.png";
---

<div class="grid lg:grid-cols-2 2xl:grid-cols-5 py-9 lg:py-20">
    
  <div class="py-12 lg:px-12 lg:py-[120px] max-w-md mx-auto sm:max-w-xl lg:max-w-full xl:mr-0 2xl:col-span-2">
    <div class="xl:max-w-xl">
    <img
     
      class="h-[280px] w-full rounded-lg object-cover sm:h-[350px] sm:w-full object-top sm:object-center lg:hidden mask"
      src={brayan.src}
      alt="me-neon-desktop"
    />
    <h1
      class="mt-11 text-2xl font-bold text-white lg:mt-0 sm:text-4xl lg:text-3xl xl:text-4xl 2xl:text-5xl"
    >
      <span class="text-white"> Hey, <span>👋</span> Soy Brayan,</span>
      <br class="hidden lg:inline-block" />
      <span class="text-emerald-400">front-end developer.</span>
    </h1>
    <div class="mt-10 sm:mt-6 lg:mt-8 ">
      <button
        id="downloadPDF"
        class="px-4 py-3 rounded-lg shadow-lg animated__btn bg-emerald-400 hover:bg-emerald-300 transition-all text-white uppercase tracking-wider font-semibold text-[12px] sm:text-base 2xl:py-2 2xl:px-6 2xl:text-md"
        >Descargar cv</button
      >
    </div>
    </div>
  </div>

   <div class="relative hidden lg:block lg:mt-5 2xl:col-span-3 ">
    <img
      
     
      
      class="absolute rounded-lg inset-0 w-full h-full object-cover object-top mask"
      src={brayan.src}
      alt="me-neon-desktop"
    />
   </div>
</div>


<script>
  const btnDownloadPDF = document.querySelectorAll("#downloadPDF");
  const downloadPDF = () => {
    let urlPDF =
      "https://drive.google.com/file/d/1ojTqH2o7tSqH57UfdVOFokG5W1nP7OhD/view?usp=sharing";
    let link = document.createElement("a");
    link.href = urlPDF;
    link.target = "_blank";
    link.download = "CV-BRAYAN.pdf";
    document.body.appendChild(link);
    link.click();

    document.body.removeChild(link);
  };
  btnDownloadPDF.forEach((item) => {
    item.addEventListener("click", downloadPDF);
  });
</script>

<style>
  .animated__btn {
    transition: all 0.2s;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  .mask{
    mask-image: linear-gradient(black 80%, transparent);

  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
</style>


