---
import brayan from '../assets/me.webp'

---

<section>
    <div class="grid lg:grid-cols-2 2xl:grid-cols-5">
        <div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:py-40 lg:px-12 lg:max-w-full xl:py-64 xl:mr-0 2xl:col-span-2 2xl:py-96">
            <div data-aos="zoom-in" class="xl:max-w-xl w-full">
                <img loading="lazy" width="1366" height="768"  class="mx-auto sm:mt-20 md:mt-20 md:h-[450px] sm:h-[450px] h-[350px] object-cover  sm:w-full sm:object-cover object-center lg:hidden" src={brayan.src} alt="me-neon-desktop">
                <h1  class=" mt-6 text-center lg:text-left text-2xl font-bold text-black dark:text-gray-100 sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl 2xl:text-5xl">
                   <span class=""> Hey, <span class="text-yellow-300">👋</span>  I'm Brayan,</span>
                    <br class="hidden lg:inline-block">
                    <span class=" text-[#961296]">front-end developer.</span>
                </h1>
                <div class="mt-10 sm:mt-6 lg:mt-8 text-center lg:text-left">
                    <button id="downloadPDF" class="px-4 py-3 rounded-[35px] shadow-lg animated__btn  bg-[#961296] hover:bg-purple-600 transition-all text-white uppercase tracking-wider font-semibold text-[12px] sm:text-base 2xl:py-2 2xl:px-6 2xl:text-md">Descargar cv</button>
                </div>
            </div>
        </div>
        <div class="hidden lg:block relative 2xl:col-span-3">
            <img  class="w-full  absolute h-full inset-0 object-center object-cover" loading="lazy" width="1366" height="768"   src={brayan.src} alt="me-neon">
        </div>
    </div>

</section>

<script>
const btnDownloadPDF = document.querySelectorAll("#downloadPDF");
const downloadPDF = () => {
    let urlPDF = 'https://drive.google.com/file/d/1bULtuNtPdlDRH4alyV1v5awAK8pyeriA/view?usp=sharing';
    let link =  document.createElement('a');
    link.href = urlPDF;
    link.target = '_blank'
    link.download = 'CV-BRAYAN.pdf';
    document.body.appendChild(link);
    link.click();

    document.body.removeChild(link);

}
btnDownloadPDF.forEach((item) => {
    item.addEventListener("click", downloadPDF)
})

</script>


<style>
    .animated__btn{
        transition: all .2s;
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }




@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
</style>