---
import js from "../assets/js.png";
---

<section class="pt-10 pb-10 bg-gray-300 sm:pt-16 lg:pt-24">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-2xl mx-auto text-center">
        <h1 class="text-4xl text-center py-5 font-bold leading-tight text-gray-900 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
            <span class="relative inline-flex sm:inline">
       <span class="bg-gradient-to-r from-purple-400 to-pink-600  blur-lg filter opacity-30 w-full h-full absolute inset-0"></span>
       <span class="relative"> Skills </span>
   </span>
       </h1>
    </div>
  </div>

 

  <div class="scroller mx-auto mt-10 md:mt-20">
    <ul class="scroller__inner">
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img  src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705351909/logos/mtxldq1avaoda5xduyix.png" alt="css3">
            <span class="font-bold text-gray-400 block mt-3 uppercase">CSS 3</span>
        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352292/logos/iv1wslsc2sf3j3s4lswm.png" alt="git">
            <span class="font-bold text-gray-400 block mt-3 uppercase">git</span>

        
        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352292/logos/fjq4uos5txz6spjo6xwm.png" alt="github">
            <span class="font-bold text-gray-400 block mt-3 uppercase">github</span>

        
        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352291/logos/yrja0ionupd9xjggun9i.png" alt="html">
            <span class="font-bold text-gray-400 block mt-3 uppercase">html5</span>

        
        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352291/logos/mkbocysr9nonue7ifxdx.png" alt="js">
            <span class="font-bold text-gray-400 block mt-3 uppercase">javascript</span>

        
        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352291/logos/zoh3pdgee3pi92vobeni.png" alt="sass">
            <span class="font-bold text-gray-400 block mt-3 uppercase">sass</span>

        
        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352291/logos/fka1rziek89hjwvfx2jo.png" alt="vue">
            <span class="font-bold text-gray-400 block mt-3 uppercase">vuejs</span>

        
        </li>
    </ul>
  </div>

  <div class="scroller mx-auto mt-10 md:mt-20" data-direction="right">
    <ul class="scroller__inner">
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352773/logos/ypqidfk15xks2omchxp2.png" alt="aws">
            <span class="font-bold text-gray-400 block mt-3 uppercase">amazon web services</span>


        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352773/logos/tt8glghq5odltks6paif.png" alt="bootstrap">
            <span class="font-bold text-gray-400 block mt-3 uppercase">bootstrap</span>

        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352772/logos/rditsvijf9kfimq9fj78.png" alt="tailwind">
            <span class="font-bold text-gray-400 block mt-3 uppercase">tailwind</span>

        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352772/logos/eg0b5lsat6v367jhqbxa.png" alt="react">
            <span class="font-bold text-gray-400 block mt-3 uppercase">react</span>

        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352772/logos/pl0tlafeqbib4ldqdcow.png" alt="ps">
            <span class="font-bold text-gray-400 block mt-3 uppercase">photoshop</span>


        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352772/logos/pwayhus1bg8oi0eozjv6.png" alt="npm">
            <span class="font-bold text-gray-400 block mt-3 uppercase">npm</span>


        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352772/logos/ntxsebbv7nfxen6xkvza.png" alt="jira">
            <span class="font-bold text-gray-400 block mt-3 uppercase">jira</span>


        </li>
        <li class="bg-white py-3 px-3 rounded-md shadow-md text-center">
            <img src="https://res.cloudinary.com/djvitvb1v/image/upload/v1705352772/logos/orvbwykcojaefnj9vrq0.png" alt="astro">
            <span class="font-bold text-gray-400 block mt-3 uppercase">astro build</span>


        </li>
      
    </ul>
  </div>

</section>

<script>
  const scrollers = document.querySelectorAll(".scroller");
  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    addAnimation();
  }

  function addAnimation() {
    scrollers.forEach((scroller) => {
      scroller.setAttribute("data-animated", true);

      const scrollerInner = scroller.querySelector('.scroller__inner');
      const scrollerContent = Array.from(scrollerInner.children);

      scrollerContent.forEach((item) => {
        const duplicateItem = item.cloneNode(true);
        duplicateItem.setAttribute("aria-hidden", true);
        scrollerInner.appendChild(duplicateItem)
      })
    
    });
  }
</script>

<style>
  .scroller {
    max-width: 1220px;
   
  }
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: 
    scroll 
    var(--_animation-duration, 40s)
    var(--_animation-direction, forwards)
     linear
      infinite;
  }
  .scroller[data-direction="right"]{
    --_animation-direction: reverse;
   
  }




  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .scroller__inner img {
    height: 70px;
    margin: 0px 40px;
  }


.tag-list{
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li{
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
}
</style>
