---
import LogoSlider from "./LogoSlider.jsx";
import { imprimeArray } from "../services/main"
const cardContent = [
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/phgvshq4yjmwygoqb57o.webp',
    title: 'css 3',
    description: 'cascading styles sheets',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/b0dzfp31wjpth5s84xec.webp',
    title: 'git',
    description: 'control de versiones',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/b6drsnclncg3obbai794.webp',
    title: 'github',
    description: 'alojamiento de proyectos',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/uyvzk0vs4mvchsvzvam3.webp',
    title: 'html',
    description: 'hyper text markup lenguage',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/xpno7mgafmraoz86odmb.webp',
    title: 'javascript',
    description: 'lenguaje de programacion',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/walknbtmvcc0ju2yu9zm.webp',
    title: 'sass',
    description: 'lenguaje de css',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/m6glxdmmkbczhmd8crih.webp',
    title: 'vue',
    description: 'framewor de js para el diseño de interfaces',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1706123577/logos/ghjtxad3p3vuunvjyeu4.png',
    title: 'amazon web services',
    description: 'servicio de computacion en la nube',
    width: '134',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/yhnrqfgnxwfpw4uxsea7.webp',
    title: 'bootstrap',
    description: 'biblioteca para el diseño de paginas',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/l5gpw5xzy1f1dbsbp6qs.webp',
    title: 'tailwind',
    description: 'framework de css para diseño de paginas',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/k3qqkpmiczmphvgukspm.webp',
    title: 'react',
    description: 'libreria de javascript ops',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/wgrnwseakperpnpn63ps.webp',
    title: 'photoshop',
    description: 'editor de fotografias'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/yxpxy5hm3t8vfdwdxwmf.webp',
    title: 'npm',
    description: 'node package modules',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/es1ox4uluzolfzhtofd9.webp',
    title: 'jira',
    description: 'jira gestion de proyectos',
    width: '150',
    height: '70'

  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/od5fawnr5uuch20tz4ad.webp',
    title: 'astro',
    description: 'framework astro build',
    width: '150',
    height: '70'

  },
]


const [ mitad1, mitad2 ] = imprimeArray(cardContent);



---


<section class="py-9 lg:py-20" id="experiencia">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-4xl text-center py-5 font-bold leading-tight text-white sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
          Experiencia
       </h2>
    </div>
  </div>

 
    <LogoSlider client:visible />


</section>

<script>
 
</script>

<style>
 


</style>
