---
import Card from '../components/Card.astro';

import data from '../services/data-projects.json'
---

<section class="py-20" id="proyectos">
    <div>
        <h2 class="text-4xl text-center py-5 font-bold leading-tight text-black dark:text-white/80 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
            Proyectos
   </span>
       </h1>
        <div class="grid mx-auto  md:grid-cols-2 lg:grid-cols-3   gap-y-12 gap-x-5 py-10 lg:py-16">
            {
                data.map((item) => (       
                 <Card data={item}/>
                ))
            }
        </div>
    </div>
</section>