---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollUp from "../components/ScrollUp.astro";


interface Props {
	title: string;
}

const { title } = Astro.props;
import "../styles/index.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio web del frontend developer brayan antonio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-16x16.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="relative bg-neutral-950 h-full w-full text-black dark:text-white">  
	  <div class="fixed top-0 inset-0 z-[-2] h-screen w-screen items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
	  <!-- <div class="top-0 z-[-2] fixed h-screen w-screen bg-neutral-950 dark:bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>	 -->
	  	<Header/>
		<slot/>
		<ScrollUp/>
		<Footer/>
		<script>
			import { aosInit } from "../services/aos";
			aosInit();
		</script>
	</body>
</html>

<style>
	  :root {
    color-scheme: light dark;
  }

html{
	scroll-behavior: smooth;
}
body {
    color: rgba(17, 17, 17, 0.9);
    
  }

</style>